.Login {
	margin: 0 auto;
	margin-top: 70px;
	max-width: 400px;
	padding: 40px 40px;
	background: #fff;
}

.App-logo {
	width: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Inputform {
    border-radius :1rem;
}

.Inputform :focus{
	border-radius :1rem;
	outline: none !important;
    border-color: #242526;
}


.btn-signin {
    background-color: deepskyblue;
    color: rgb(255, 255, 255);
	border-radius :5px;
	margin: 0 auto;
    display: block;
	margin-bottom: 1.2em;
}

.forget  {
	color: deepskyblue;
	float:left;
}
.forget :hover {
	color: deepskyblue;
	float:left;
}

.create{
	color: deepskyblue;
	float:right;
}



